doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="HandheldFriendly" content="true")
    meta(property="og:title" content=title)
    meta(property="og:image" content=teaserImage)
    link(href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet")
    link(href="/styles.css" rel="stylesheet")

  body
    block content
    block script
